/* window width */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

/* colors */
$body-color: #12111F;
$text-color: #dcdcdc;
$hiring-button-color: #e68c17;
$hover-active-nav-color: #e68c17;